*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
    font-family: Arial,sans-serif;
    padding: 20px;
}
.recipe-card{
     max-width: 600px;
     width: 100%;
     background-color: #ffffff;
     margin: auto;
     padding: 20px;
     border-radius: 12px;
     box-shadow: 0 4px 12px rgba(0,0,0,0.15);
} 
.recipe-title{
    text-align: center;
    color: #5a2a27;
    margin-bottom: 15px;
}
.recipe-image{
    width: 100%;
    height: auto;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.progress-container{
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
}
.progress-bar{
    width: 0%;
    height: 100%;
    background: #5a2a27;
    transition: width 0.5s ease-in-out;
}
.progress-text{
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}
.recipe-info{
    background-color: #fbebeb;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.section{
    margin-bottom: 20px;
}
.section h2{
    color: #5a2a27;
    margin-bottom: 8px;
}
ul,ol{
    padding-left: 6px;
}
.ingredients li,.steps li{
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease;
}
.ingredients li:hover{
    background-color: #f8e0e0;
    color: #5a2a27;
    transform:translateX(5px);
}
.steps li:hover{
    background-color: #e6f0ff;
    transform: scale(1.02);
}
.steps li.active{
    background-color: #cce0ff;
    font-weight: bold;
}
.toggle-btn {
    background-color: #5a2a27;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
}

.toggle-btn:hover {
    background-color: #7a3a36;
}

.hidden {
    display: none;
}

@media(max-width:480px){
    .recipe-card{
        padding: 16px;
    }
    .recipe-title{
        font-size: 22px;
    }
    .section h2{
        font-size: 18px;
    }
    li{
        font-size: 14px;
    }
    .ingredients li,
    .steps li{
        padding: 10px;
    }
}
@media(max-width:768px){
    .recipe-card{
        max-width: 90%;
    }
}